*~
*.la
*.lo
*.o

.deps
.libs
Makefile
Makefile.in

/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/po
/tap-driver.sh
/test-driver

/ChatboxService-1.0.gir
/ChatboxService-1.0.typelib
/ChatboxService.c
/ChatboxService.h
/data/com.endlessm.Coding.Chatbox.data.gresource
/data/com.endlessm.Coding.Chatbox.service
/lib/ChatboxPrivate-1.0.gir
/lib/ChatboxPrivate-1.0.typelib
/src/com.endlessm.Coding.Chatbox
/src/com.endlessm.Coding.Chatbox.src.gresource
