.big-label {
    font-size: 4em;
    font-weight: bold;
}

.contact-image {
    font-family: 'Sans';
    font-size: 27px;
    font-weight: bold;
    color: white;
}

.chatbox-bubble {
    background-color: #f0f0f0;
    border-radius: 20px;
}

.chatbox-bubble.by-user {
    background-color: #548fd4;
}
