.notebook-content {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.game-content {
    background-color: #818286;
}

.manager-container {
    padding: 40px;
    background-color: #717274;
}
