image.contact-default-image {
    font-family: 'Sans';
    font-size: 27px;
    font-weight: bold;
    color: white;
    background-color: #bdbdbd;
    border-radius: 24px;
}

.chatbox-bubble {
    background-color: #737478;
    border-radius: 20px;
    text-shadow: 1px -1px alpha(black, 0.4);
}

.chatbox-bubble:backdrop {
    text-shadow: none;
    background-color: #5a5b5e;
}

.chatbox-bubble text {
    background-color: #737478;
}

.chatbox-bubble.by-user {
    background-color: #3b9fde;
    text-shadow: 1px 1px alpha(black, 0.6);
}

.chatbox-bubble.by-user:backdrop {
    background-color: #2595da;
    text-shadow: none;
}

.chatbox-bubble.by-user text {
    background-color: #3b9fde;
}

.chatbox-bubble.code {
    background-color: #ffffff;
    font-family: monospace;
    text-shadow: none;
    color: #000000;
    font-size: 10pt;
}

.chatbox-bubble.code:backdrop {
    background-color: #ffffff;
}

.chatbox-bubble.code text {
    background-color: #ffffff;
    color: #000000;
}

.chatbox-bubble:backdrop {
    text-shadow: none;
}

.chatbox-bubble:backdrop {
    text-shadow: none;
}

.chatbox-bubble.message-pending {
    background-color: #737478;
}

.chatbox-bubble.message-pending:backdrop {
    background-color: #5a5b5e;
}

.contact-item .contact-message-preview {
    font-weight: 300; /* light */
}

.new-content {
    font-weight: bold;
}

.new-content frame.contact-image-overlay {
    background-image: url('resource:////com/endlessm/Coding/Chatbox/img/summary-counter.svg');
    background-size: 22px;
    background-position: 85% 15%;
    background-repeat: no-repeat;
}

.attachment-button {
    background-image: none;
    border-width: 0px;
    outline-width: 0px;
    box-shadow: none;
}

.chatbox-bubble.code {
    background-color: #ffffff;
    font-family: monospace;
    text-shadow: none;
    font-size: 10pt;
}

.chatbox-bubble.code:backdrop {
    background-color: #ffffff;
}

.chatbox-bubble.code label:backdrop {
    color: #ffffff;
}

.chatbox-bubble:backdrop {
    background-color: #5a5b5e;
}

.chatbox-bubble text:backdrop {
    background-color: #5a5b5e;
}

.chatbox-bubble.by-user:backdrop {
    background-color: #2595da;
    text-shadow: none;
}
