image.contact-default-image {
  font-family: 'Sans';
  font-size: 27px;
  font-weight: bold;
  color: white;
  background-color: #bdbdbd;
  border-radius: 24px;
}

.chatbox-bubble {
  background-color: #737478;
  padding: 20px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  text-shadow: 1px -1px alpha(black, 0.4);
}

.chatbox-bubble:backdrop {
  text-shadow: none;
  background-color: #5a5b5e;
}

.code .chatbox-bubble {
  background-color: #1c2b31;
  font-family: monospace;
  text-shadow: none;
  color: #6ba957;
  font-size: 10pt;
}

.code .chatbox-bubble:backdrop {
  background-color: #162227;
  color: #659e51;
}

.by-user .chatbox-bubble {
  background-color: #343736;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  text-shadow: 1px 1px alpha(black, 0.6);
}

.by-user .chatbox-bubble:backdrop {
  background-color: #2a2d2c;
  text-shadow: none;
}

.by-user.code .chatbox-bubble {
  background-color: #343736;
}

.by-user.code .chatbox-bubble:backdrop {
  background-color: #2a2d2c;
  text-shadow: none;
}

.input-bubble-container .chatbox-bubble {
  padding: 5px;
  background-color: #343736;
  border-bottom-left-radius: 5px;
  text-shadow: 1px 1px alpha(black, 0.6);
  box-shadow: inset 0 1px 2px #1f2323,
              inset 1px 0 2px #1f2323,
              inset -1px 0 2px #1f2323,
              inset 0 -1px 2px #1f2323
}

.input-bubble-container .chatbox-bubble:backdrop {
  background-color: #2a2d2c;
  text-shadow: none;
}

.input-bubble-container.code .chatbox-bubble {
  background-color: #343736;
}

.input-bubble-container.code .chatbox-bubble:backdrop {
  background-color: #2a2d2c;
  text-shadow: none;
}


.input-bubble-container text {
  background-color: #343736;
}

.input-bubble-container text:backdrop {
  background-color: #2a2d2c;
}

.input-bubble-container .code text {
  background-color: #343736;
}

.input-bubble-container .code text:backdrop {
  background-color: #2a2d2c;
  color: #659e51;
}

.input-hint {
  color: #979797;
  text-shadow: none;
}

.by-user .bubble-right-flair {
  border-top: 10px solid #343736;
  border-right: 20px solid transparent;
}

.by-user.code .bubble-right-flair {
  border-top: 10px solid #343736;
}

.by-user .bubble-right-flair:backdrop {
  border-top: 10px solid #2a2d2c;
}

.by-user.code .bubble-right-flair:backdrop {
  border-top: 10px solid #2a2d2c;
}

.bubble-left-flair {
  border-top: 10px solid #737478;
  border-left: 20px solid transparent;
}

.bubble-left-flair:backdrop {
  border-top: 10px solid #5a5b5e;
}

.code .bubble-left-flair {
  border-top: 10px solid #1c2b31;
}

.code .bubble-left-flair:backdrop {
  border-top: 10px solid #162227;
}

.message-received-date {
  font-size: 12px;
  text-shadow: none;
}

.chatbox-input-area {
  box-shadow: 3px 1px 5px 5px #2a2d2d;
}

.chatbox-input-area.hide {
  margin-bottom: -25px;
}

.contact-item .contact-message-preview {
  font-weight: 300; /* light */
}

row:selected.contact-row {
  background-color: #49555b;
  box-shadow: none;
  outline-style: none;
}

row:selected:backdrop.contact-row {
  background-color: #3b454a;
  box-shadow: none;
}

.chatbox-contact-list {
  background-color: #232729;
}

.chatbox-contact-list:backdrop {
  background-color: #252a2c;
}

.new-content {
  font-weight: bold;
}

.contact-message-notification {
  background-color: #e16f38;
  color: #fff;
  padding: 3px;
  border-radius: 2px;
  font-size: 9pt;
}

.attachment-button {
  background-image: none;
  border-width: 0px;
  outline-width: 0px;
  box-shadow: none;
}
