[Desktop Entry]
Version=1.0
Name=ChatBox
Comment=Chat app
Type=Application
Exec=com.endlessm.CodingChatbox
Icon=com.endlessm.CodingChatbox
Categories=Development;
DBusActivatable=true
StartupNotify=true
