[Desktop Entry]
Version=1.0
Name=Coding Chatbox
Comment=Chat app
Type=Application
Exec=com.endlessm.Coding.Chatbox
Icon=coding-chatbox
Categories=Utility;
DBusActivatable=true
StartupNotify=true
